---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/Navbar';
import Footer from '../components/Footer';
import CompatibilityModal from '../components/CompatibilityModal';
import '../styles/global.css';
import '@fontsource/space-grotesk/400.css';
import '@fontsource/space-grotesk/500.css';
import '@fontsource/space-grotesk/700.css';
import '@fontsource/jetbrains-mono/400.css';
import '@fontsource/jetbrains-mono/500.css';

const { title, description } = Astro.props;
---

<html lang="it">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
		<title>{title} | MONOCORE™ LOGS</title>
        <ViewTransitions />
	</head>
	<body class="bg-void text-industrial antialiased selection:bg-brand-orange selection:text-void">
		<Navbar client:load />
        
        <main class="min-h-screen pt-32 pb-24">
            <slot />
        </main>

        <Footer />
        <CompatibilityModal client:load />
	</body>
</html>
