---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/Navbar';
import Footer from '../components/Footer';
import CompatibilityModal from '../components/CompatibilityModal';
import '../styles/global.css';

const { title, description } = Astro.props;
---

<html lang="it">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
		<title>{title} | MONOCORE™ LOGS</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
        <ViewTransitions />
	</head>
	<body class="bg-void text-industrial antialiased selection:bg-brand-orange selection:text-void">
		<Navbar client:load />
        
        <main class="min-h-screen pt-32 pb-24">
            <slot />
        </main>

        <Footer />
        <CompatibilityModal client:load />
	</body>
</html>
